@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content {
    @apply sm:max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-3xl;
  }

  .markdown-page {
    p {
      @apply my-3;
    }
    ol,
    ul {
      @apply list-decimal list-outside;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply my-3 font-semibold;
      a.anchor {
        svg {
          @apply inline-block mb-0.5;
        }
      }
    }
    h1,
    h2 {
      @apply text-lg;
    }
    table {
      @apply table-fixed my-5 border-spacing-3 w-full;
    }
    tr {
      @apply border-t border-b border-gray-300;
    }
    td {
      @apply first:font-medium;
    }
    a {
      @apply underline text-blue-700;
    }
  }
}
